@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
 
}

html {
  scroll-behavior: smooth;
}

/* .mobile-menu::-webkit-scrollbar {
  width: 4px;
} */


/* .mobile-menu::-webkit-scrollbar-track {
  background: transparent;
    height: 10px !important;
} */

/* .mobile-menu::-webkit-scrollbar-thumb {
  background-color: #FF6A00; 
  border-radius: 8px;
  opacity: 0; 
  transition: opacity 0.3s ease;
  height: 10px !important;
} */

/* Firefox scrollbar */
/* .mobile-menu {
  scrollbar-width: thin;
  scrollbar-color: #FF6A00 transparent;

} */

/* When scrolling (JS will add this class) */
/* .mobile-menu.scrolling::-webkit-scrollbar-thumb {
  opacity: 1; 
    height: 10px !important;
} */
/* *{
  border:1px solid black;
} */

 /* .card_one:hover {
  border-style: solid;
  border-width: 5px;
  border-image-slice: linear-gradient(to bottom, #44D9FE, transparent) 1 stretch;
  border-radius: 30px;
} */

.card_one:hover {
  position: relative;
  border-radius: 30px;
  border: 5px solid transparent; 
  background-clip: padding-box;
  cursor: pointer;
  border-image: linear-gradient(to top, #44D9FE, transparent) 1;
  border-image-slice: 1;
}

/* NAVBAR  */
.bg-yellow-trans {
  background-color: rgba(255, 221, 0, 0.30196);
}

.active {
 background-image: linear-gradient(97.4deg, #FFA361 2.87%, #FF6A00 105.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background-image: linear-gradient(97.4deg, #FFA361 2.87%, #FF6A00 105.85%);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navMenu .dot-active {
  opacity: 1 !important;
}
/* .navMenu .menu {
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: currentColor;
  transition: all 0.5s ease-in-out;
} */
.navMenu  .menu:hover {
 background-image: linear-gradient(97.4deg, #FFA361 2.87%, #FF6A00 105.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navMenu:nth-child(1):hover .dot {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}



 .navMenu:nth-child(2):hover  .dot {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} 

.navMenu:nth-child(3):hover .dot {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu:nth-child(4):hover  .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} 
.navMenu:nth-child(5):hover  .dot {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} 
.navMenu:nth-child(6):hover  .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} 


.fancy {
  --offset: 5px;
  background: 
    var(--bg-linear),
    var(--bg-radial);
  border-radius: var(--radius);
  position: relative;
  height: var(--height);
  width: var(--width);
  max-width: 100%;
  overflow: hidden;
  transition: width 0.3s ease;
  display: flex;
}

.fancy::before {
  content: '';
  background: conic-gradient(
    transparent 270deg,
    var(--conic-color),
    transparent
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate var(--duration) linear infinite;
}

.fancy::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.fancy button {
  background: transparent;
  color: var(--text-color);
  font-size: 16px ;
  position: absolute;
  /* display: flex; */
  inset: 0;
  z-index: 10;
  /* padding: 1.5rem; */
  border: none;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}



.bg-container {
  background:
    linear-gradient(135deg, rgba(255, 106, 0, 0.2), rgba(255, 106, 0, 0.2)),
    url("src/assets/blurred-bg.png") no-repeat center center / cover;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
}


.no-scrollbar {
	display: flex;
	white-space: nowrap;
	/* Prevents wrapping of elements */
	overflow: hidden;
}
.slide-animation {
	/* display: flex; */
	animation: scroll 40s linear infinite;
	will-change: transform;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

